body, div {
  margin: 0;
  padding: 0;
}

nav {
  height: 90px;
  box-shadow: 1px 1px 5px black;
  position: relative;
}

#logo {
  display: inline-block;
  margin: 10px 0 0 10px;
}

#date {
  display: inline-block;
  position: absolute;
  margin: 10px;
  right: 10px;
}

nav div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

nav div a {
  text-decoration: none;
  color: black;
  margin: 5px;
}